#header {
  border-bottom: 1px solid #ccc;

  .inner {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 0;

    @include pc_1680 {
      padding: 1.5rem 2rem;
    }
  }
  .header_menu {
    display: flex;
    gap: 4rem;
    .logo {
      a {
        font-size: 2.5rem;
        font-weight: bold;
      }
    }
  }
  .menu_list {
    display: flex;
    align-items: center;
    gap: 2.7rem;
    .menu_item {
      a {
        font-size: 1.55rem;
        font-weight: 500;
      }
    }
  }
  .auth_box {
    display: flex;
    align-items: center;
    gap: 2.7rem;
    .auth_list {
      display: flex;
      align-items: center;
      gap: 2.7rem;
      .auth_item {
        &.signup {
          background: var(--btn-color);
          color: #fff;
          padding: 1rem 2.3rem;
          border-radius: 1rem;
        }
        a {
          font-size: 1.55rem;
          font-weight: 500;
        }
      }
    }
  }

  .search_box {
    width: 50%;
    position: relative;
    display: flex;
    gap: 1rem;
    select {
      border-radius: 1rem;
      border: 1px solid #ccc;
      padding: 0 1rem;
    }
    input {
      width: 100%;
      height: 100%;
      border-radius: 1rem;
      border: 1px solid #ccc;
      padding: 0 1rem;
    }
    button {
      position: absolute;
      top: calc(50% - -3px);
      transform: translateY(-50%);
      right: 2rem;
    }
  }
}
