@import '../../common/abstracts/mixins';
@import '../../common/abstracts/responsive';

.login-container {
  padding: 10rem 0;

  h2 {
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 3.2rem;
    text-align: center;
    @include mo {
      font-size: 3.2rem;
    }
    @include mo_500 {
      font-size: 3rem;
    }
    @include mo_330 {
      font-size: 2.8rem;
    }
  }
  .input-wrapper {
    max-width: 50rem;
    margin: 0 auto;
    @include mo {
      max-width: 40rem;
    }
    @include mo_500 {
      max-width: 27rem;
    }
    @include mo_330 {
      max-width: 18rem;
    }
    strong {
      font-size: 1.7rem;
      font-weight: 700;
      @include mo {
        font-size: 1.5rem;
      }
      @include mo_500 {
        font-size: 1.2rem;
      }
      @include mo_330 {
        font-size: 1.1rem;
      }
    }
    input:focus {
      outline: none;
      padding: 1rem;
      font-size: 1.5rem;
    }
    input {
      border: 1px solid #ccc;
      border-radius: 0.5rem;
      width: 100%;
      height: 4.5rem;
      padding: 0 1rem;
      @include mo {
        height: 3.8rem;
      }
      @include mo_500 {
        height: 3rem;
      }
      @include mo_330 {
        height: 2.5rem;
      }
    }
    .email-wrapper {
      margin-bottom: 2rem;
    }
    .password-wrapper {
      margin-bottom: 2rem;
    }
  }
  .button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    width: 100%;
    button {
      border-radius: 0.5rem;
      background: var(--sub-btn-color);
      color: #fff;
      min-width: 10rem;
      cursor: pointer;
      width: 100%;
      height: 4.5rem;
      margin-bottom: 3rem;
      @include mo {
        height: 3.8rem;
        font-size: 1.3rem;
      }
      @include mo_500 {
        height: 3rem;
        font-size: 1.2rem;
      }
      @include mo_330 {
        height: 2.5rem;
        font-size: 1.1rem;
      }
    }
  }
}
