.section {
  h2 {
    font-size: 4.5rem;
    font-weight: 700;
    text-align: center;
    letter-spacing: -2px;
    margin-bottom: 4rem;
  }
  &.sec01 {
    .swiper-slide {
      width: 100%;
      height: 50rem;
      background: var(--gradient-bg);
    }
  }
  
  &.sec02 {
    .inner {
      padding: 7rem 0;
    }
    .dev_list {
      display: flex;
      justify-content: center;
      margin-bottom: 5rem;
      gap: 2rem;
  
      li {
        a {
          display: flex;
          flex-direction: column;
          text-align: center;
          gap: 1rem;
          padding: 1rem 3rem;
          border-radius: 1rem;
          transition: all 0.5s;
          &:hover {
            background: var(--bg-color);
          }
          img {
            margin: 0 auto;
          }
          
          span {
            font-weight: 500;
          }
        }
      }
    }
    .search_box {
      position: relative;
      width: 50%;
      margin: 0 auto;
      input {
        width: 100%;
        border: 1px solid #ccc;
        border-radius: 1rem;
        padding: 1rem;
      }
      button {
        position: absolute;
        top: calc(50% + 3px);
        transform: translateY(-50%);
        right: 2rem;
      }
    }
  }
  
  &.sec03 {
    background: var(--bg-color);
    .inner {
      padding: 10rem 5rem;
      max-width: 168rem;
    }
    h2 {
      margin-bottom: 0;
    }
    .mySwiper {
      padding: 7rem 0;
    }
    .swiper-slide {
      iframe {
        width: 100%;
        height: 25rem;
        border-radius: 1rem;
        border: 1px solid #ccc;
      }
      .vid_info {
        h3 {
          font-size: 1.6rem;
          font-weight: 500;
          line-height: 1.5;
          margin-bottom: 1rem;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: normal;
        }
        p {
          color: #555;
          font-size: 1.3rem;
        }
      }
    }
    .swiper-pagination {
      bottom: 1rem;
    }
  }

  &.sec04 {
    .inner {
      padding: 10rem 0;
    }
    .instructor_list {
      display: flex;
      gap: 2rem;

      li {
        border: 1px solid #ccc;
        border-radius: 1rem;
        width: 100%;
        padding: 3rem 1.5rem;

        a {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 2rem;

          img {
            border-radius: 50%;
            border: 1px solid #ccc;
            width: 15rem;
            height: 15rem;
          }
        }

        .txt_box {
          span {
            font-size: 1.8rem;
            font-weight: 700;
          }
        }
      }
    }
  }
}