.playlists_container {
  .inner {
    // padding: 10rem 0;
  }
  .dev_list {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 4rem 0;
    // background: var(--bg-color);

    li {
      width: 10rem;
      border-radius: 1rem;
      transition: all 0.3s;
      cursor: pointer;
      
      &:hover{
        background: var(--bg-color);
      }
      &.active {
        background: var(--bg-color);
      }
      button {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        width: 100%;
        padding: 1.5rem 0;
        cursor: pointer; 
        gap: 0.5rem;

        img {
          margin: 0 auto;
        }
        span {
          display: block;
          width: 100%;
        }
      }
    }
  }
  .video_list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5rem 1.6rem;
    padding: 5rem 0;
    .video_item {
      &:hover {
        img {
          transform: translateY(-10px);
        }
      }
      img {
        border-radius: 0.5rem;
        margin-bottom: 1rem;
        transition: all 0.3s;
      }
      .title {
        font-size: 1.5rem;
        font-weight: 500;
      }
      .channel_title {
        font-size: 1.3rem;
      }
      .date {
        color: #444;
        font-size: 1.25rem;
      }
    }
  }
}