.playlists_container {
  .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    z-index: 1001; // 모달이 다른 요소 위에 표시되도록

    .modal-content {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    input[type='text'] {
      width: 100%;
      padding: 0.5rem;
      margin-bottom: 1rem;
      border: 1px solid #ccc;
      border-radius: 5px;
    }

    button {
      background-color: #6ab5ffd5;
      color: white;
      border: none;
      border-radius: 5px;
      padding: 0.5rem 1rem;
      cursor: pointer;
      margin: 0.5rem 0;

      &:hover {
        background-color: #5a9bdb; // 버튼 호버 색상
      }
    }
  }

  .inner {
    // padding: 10rem 0;
  }
  .dev_list {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 4rem 0;
    border-bottom: 1px solid #ccc;
    gap: 1rem;

    &.teacher {
      li {
        span {
          display: block;
          width: 100%;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          text-align: center;
        }
        img {
          border-radius: 50%;
          border: 1px solid #ccc;
        }
      }
    }

    li {
      width: 12rem;
      border-radius: 1rem;
      transition: all 0.3s;
      cursor: pointer;

      &:hover {
        background: var(--bg-color);
      }
      &.active {
        background: var(--bg-color);
      }
      button {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        width: 100%;
        padding: 1.5rem 0;
        cursor: pointer;
        gap: 0.5rem;

        img {
          margin: 0 auto;
        }
        span {
          display: block;
          width: 100%;
        }
      }
    }
  }

  .video_list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5rem 1.6rem;
    padding: 5rem 0;
    margin-bottom: 2rem;

    .video_item {
      &:hover {
        img {
          transform: translateY(-10px);
        }
      }
      img {
        border-radius: 0.5rem;
        margin-bottom: 1rem;
        border: 1px solid #ccc;
        transition: all 0.3s;
      }
      .title {
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 1.5;
        margin-bottom: 1rem;
      }
      .channel_title {
        font-size: 1.3rem;
      }
      .date {
        color: #444;
        font-size: 1.25rem;
      }
      .button {
        background-color: #6ab5ffd5;
        font-size: 1.8rem;
        color: white;
        border-radius: 100%;
        padding: 0px 1rem;
        font-weight: bold;
        text-align: center;
        position: relative;
        margin-left: 80%;
        cursor: pointer;
        transition: 0.5s ease;
        &:hover {
          transform: rotateZ(-45deg);
        }
      }
      .bar-nav {
        opacity: 0;
        display: flex;
        flex-direction: column;
        width: 50%;
        background-color: #6ab5ffd5;
        margin-left: 35%;
        margin-top: 2%;
        border-radius: 10px;
        transition: all 0.5s;
        li {
          justify-content: center;
          align-items: center;
          width: 100%;
          text-align: center;
          font-size: 1.2rem;
          padding: 0.3rem;
          cursor: pointer;
          color: white;
          font-weight: 600;
          &:hover {
            opacity: 0.5;
          }
        }
      }
      .bar-nav.isOpen {
        opacity: 1;
        transform: scale(1) translateY(5px);
      }
    }
  }
}
.video_player_container {
  padding: 5rem;
  .inner {
    padding: 5rem 0;
  }
  .video_content {
    .video_title {
      font-size: 2.5rem;
      font-weight: 600;
      margin-bottom: 2rem;
      letter-spacing: -1.2px;
    }
  }
  .video_frame_and_memo {
    display: flex;
    // gap: 2rem;

    iframe {
      width: 100%;
      height: 60rem;
    }
    .memo_container {
      width: 80%;
      padding: 0 5rem;

      .memo_item {
        border-bottom: 1px solid #ccc;
        padding: 2rem 0;
      }

      .memo_notice {
        color: #444;
        margin-top: 1rem;
      }

      .memo_form {
        margin-top: 3rem;
      }
    }
    .save_button {
      background: var(--sub-btn-color);
      border-radius: 1rem;
      color: #fff;
      border: none;
    }
    .add_button {
      background: var(--btn-color);
      color: #fff;
      margin-top: 2rem;
      border: none;
    }
    button {
      width: 8rem;
      padding: 0.5rem;
      border-radius: 1rem;
      border: 1px solid #ccc;
      margin-right: 1rem;
      font-size: 1.4rem;
    }
    .memo_input {
      width: 100%;
      resize: none;
      padding: 1rem;
      border-radius: 1rem;
      border: 1px solid #ccc;
    }
    .save_memo_title {
      font-size: 2rem;
      font-weight: 500;
      border: none;
    }
    .memo_time {
      font-size: 1.5rem;
      color: var(--sub-btn-color);
      cursor: pointer;
      text-decoration: underline;
    }
    .memo_save_content {
      .memo_item {
        border-bottom: 1px solid #ddd;
        padding: 1rem 0;
      }
    }
    .memo_bottom_content {
      padding: 1rem 0;
    }
    .memo_content {
      margin-bottom: 2rem;
    }
  }
}
.search_result {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 1rem;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100vh;

  .modal_content {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1000;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 5rem;
    border-radius: 1rem;
    border: 1px solid #ccc;
  }

  p {
    text-align: center;
    font-weight: 500;
  }

  .modal_actions {
    margin-top: 3rem;

    button {
      width: 8rem;
      padding: 0.5rem;
      border-radius: 1rem;
      border: 1px solid #ccc;
      margin-right: 1rem;
      font-size: 1.4rem;
    }
    .save_button {
      background: var(--sub-btn-color);
      border-radius: 1rem;
      color: #fff;
      border: none;
    }
  }
}
